@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
  color: #ffffff;

  background-color: #131316;
}

img {
  width: 100%;
  height: auto;
}

section {
  display: grid;
  align-content: center;

  max-width: 800px;
  margin-inline: auto;

  min-height: 101vh;

  text-align: center;
}

.even-columns {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 20px;
}

.img-card {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);

  border-radius: 16px;
  overflow: hidden;
}

.aos {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);

  transition: all 1s ease;
}

.aos[data-delay="100"] {
  transition-delay: 0.1s;
}
.aos[data-delay="200"] {
  transition-delay: 0.2s;
}
.aos[data-delay="300"] {
  transition-delay: 0.3s;
}
.aos[data-delay="400"] {
  transition-delay: 0.4s;
}
.aos[data-delay="500"] {
  transition-delay: 0.5s;
}
.aos[data-delay="600"] {
  transition-delay: 0.6s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
